.main-page {
    .trailer-video-container {
        width: 100%;
        margin: 0 auto;
        height: 350px;
        .trailer-header {
            padding: 15px;
            font-size: 20px;
        }
    }
    .poster-carousel {
        margin-top: 55px;
    }
}